body {
    margin: 0;
    padding: 0;
    /* background-image: url('../images/background.jpg'); */
}

.container {
    /* border: 5px solid;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    height: 580px;
    width: 50%;
    transform: translate(-50%, -50%);
    padding: 10px; */
    border: 5px solid;
    position: absolute;
    display: flex;
    flex-direction: column;
    /* Change to column layout */
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    top: 50%;
    left: 50%;
    height: 580px;
    width: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

h1 {
    margin-bottom: 20px;
}

#inputname {
    font-weight: bold;
    border: 2px solid black;
    padding: 5px;
    /* margin-top: 280px; */
    margin-top: 20px;
}

#btn-start {
    font-size: 20px;
    font-weight: bold;
    /* margin-bottom: 100px;
    position: fixed; */
    margin-top: 20px;
}


.player-name {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}

.score-area {
    display: none;
}

.display-area {
    display: none;

}

#nextButton {
    font-size: 20px;
    background-color: aqua;
}

.display-question {
    display: none;
}





.timer {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    font-weight: bold;
}







/* #btn-start {
    font-size: 20px;
    font-weight: bold;
    margin-top: 60px;
    position: fixed;
} */

.score-area {
    font-size: 20px;
    font-weight: bold;
}

#question {
    border: 1px solid black;
    /* Add a black border */
    padding: 10px;
    background-color: lightgray;

    color: black;
    /* Set text color to black */
    max-width: 300px;
    word-wrap: break-word;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.questions {
    /* Add a black border */
    padding: 10px;
    background-color: lightgray;
    /* Set the background color to light gray */

}

#options {
    margin-top: 20px;
    /* border: 1px solid rgb(24, 23, 23);
    padding: 10px;
    background-color: rgb(168, 129, 129);
    color: white; */
    /* Set text color to white */
    margin-bottom: 100px;
    max-width: 300px;
    word-wrap: break-word;
    margin: auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.option {
    border: 1px solid rgb(24, 23, 23);

    background-color: rgb(168, 129, 129);
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
    /* Add padding for better clickability */
    width: 100%;
    /* Set the width to 100% */
    box-sizing: border-box;
    /* Include padding in width calculation */
}



/* .center {
    text-align: center;
    margin: -20px;
} */



#score {
    color: green;
    font-weight: bold;

}

#incorrect {
    color: red;
    font-weight: bold;
}

#playerNameDisplay {
    font-size: 20px;
    font-weight: bold;
}