body {

    margin: 0;
    padding: 0;
    background-image: url("../images/quizimage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-position: center center; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* body {
    margin: 0;
    padding: 0;
    background-image: url("../images/quizimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
} */

.container {

    /* border: 5px solid;
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    height: 580px;
    width: 50%;
    transform: translate(-50%, -50%);
    padding: 10px; */
    /* border: 5px solid green; */
    position: absolute;
    display: flex;
    flex-direction: column;
    /* Change to column layout */
    align-items: center;
    /* Center items horizontally */
    justify-content: center;
    width: 100%;
    top: 50%;
    left: 50%;
    height: 580px;
    width: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

h1 {
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
    color: #ac2424;
}

.heading {
    display: block;
}

.paragraph {
    word-wrap: break-word;
    display: block;
    font-size: 20px;
    width: 500px;
    color: #ffffff;
}

#inputname {
    font-weight: bold;
    border: 2px solid #ac2424;
    padding: 5px;
    /* margin-top: 280px; */
    margin-top: 20px;
}

#playerNameDisplay {
    color: #ffffff;
}

#btn-start {
    font-size: 20px;
    font-weight: bold;
    background-color: #ac2424;
    margin-top: 20px;
}

.player-name {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}

/* .score-area {
    display: none;
} */

.display-area {
    display: none;

}

#nextButton {
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    background-color: #ac2424;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#playerNameDisplay {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #ffffff;
}

.display-question {
    display: none;
}

.timer-container {
    display: none;
}

.timer {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

/* .score-area {
    display: none;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: -100px;
    margin-right: 20px;
    justify-content: space-between;
    color: #ffffff;
    position: relative;
    z-index: 1;
}

.scores {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

#score {
    color: green;
    font-weight: bold;
    margin-left: 5px;
}

#incorrect {
    color: red;
    margin-left: 5px;
    font-weight: bold;
}

#question {
    border: 1px solid black;
    margin-bottom: 1px;
    padding: 20px;
    background-color: lightgray;
    color: black;
    margin-top: -100px;
    max-width: 400px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions {
    padding: 20px;
    background-color: lightgray;
}

#options {
    max-width: 400px;
    word-wrap: break-word;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.option {
    border: 1px solid rgb(24, 23, 23);
    background-color: rgb(168, 129, 129);
    padding: 1px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    box-sizing: border-box;
}

#submitButton {
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    background-color: #ac2424;
    margin-top: 20px;
}

#playerNameDisplay {
    font-size: 20px;
    font-weight: bold;
} */
.score-area {
    display: none;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    /* Adjust as needed */
    margin-right: 20px;
    justify-content: space-between;
    color: #ffffff;
    position: absolute;
    top: 20px;
    right: 20px;
}

.scores {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

#score {
    color: green;
    font-weight: bold;
    margin-left: 5px;
}

#incorrect {
    color: red;
    margin-left: 5px;
    font-weight: bold;
}

#question {
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 20px;
    background-color: lightgray;
    color: black;
    max-width: 400px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions {
    padding: 20px;
    margin-bottom: 15px;
    background-color: lightgray;
}

#options {
    max-width: 400px;
    word-wrap: break-word;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    border: 1px solid rgb(24, 23, 23);
    background-color: rgb(168, 129, 129);
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

#submitButton {

    font-size: 20px;
    width: 100px;
    background-color: #ac2424;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: bold;
}

/* 
#playerNameDisplay {
    font-size: 20px;
    font-weight: bold;
} */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #ac2424;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*mobile*/
@media (max-width: 767px) {
    /* body {
        background-size: cover;
    } */

    h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 60px;
    }

    .paragraph {
        font-size: 20px;
        width: 90%;
    }

    .scores,
    .option,
    .player-name,
    #inputname,
    #btn-start,
    #submitButton,
    #nextButton {
        font-size: 16px;
    }

    #inputname {
        margin-top: 10px;
        width: 140px;
    }

    #btn-start,
    #submitButton,
    #nextButton {
        width: 120px;
        padding: 10px;
        margin-top: 80px;
    }

    #playerNameDisplay {
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        top: 10px;
        left: -50px;
    }

    .score-area {
        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-right: 10px;
        top: 10px;
        right: 10px;
        position: absolute;
    }

    .questions {
        max-width: 400px;
        font-size: 20px;
        padding: 8px;
    }

    .timer {
        top: 15px;
        right: -40px;
        font-size: 16px;
        color: #ffffff;
        font-weight: bold;
        position: absolute;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 200px;
        width: 100%;
        height: 100%;
        overflow: auto;
        align-self: center;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
    }
}

/* For iPads or tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background-size: 100% 100%;
    }

    h1 {
        font-size: 28px;
        font-weight: bold;
    }

    .paragraph {
        font-size: 20px;
        width: 90%;
    }

    .scores,
    .option,
    .player-name,
    #inputname,
    #btn-start,
    #submitButton,
    #nextButton {
        font-size: 20px;
    }

    #inputname {
        margin-top: 10px;
    }

    #btn-start,
    #submitButton,
    #nextButton {
        width: 120px;
        padding: 10px;
        margin-top: 80px;
    }

    #playerNameDisplay {
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        top: 10px;
        left: -50px;
    }

    .score-area {
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-right: 10px;
        top: 10px;
        right: 10px;
        position: absolute;
    }

    .questions {
        max-width: 400px;
        font-size: 22px;
        padding: 8px;
    }

    .timer {
        top: 15px;
        right: -40px;
        font-size: 20px;
        color: #ffffff;
        font-weight: bold;
        position: absolute;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 200px;
        width: 100%;
        height: 100%;
        overflow: auto;
        align-self: center;

    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 450px;
        width: 100%;
        height: 100%;
        overflow: auto;
        align-self: center;

    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 600px;
    }
}