* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/quizimage.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 50%;
    left: 50%;
    height: 580px;
    width: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

h1 {
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: bold;
    color: #ac2424;
}

.heading {
    display: block;
}

.paragraph {
    word-wrap: break-word;
    display: block;
    font-size: 2rem;
    width: 500px;
    color: #ffffff;
}

#inputname {
    font-weight: bold;
    border: 2px solid #ac2424;
    padding: 5px;
    font-size: 1.2rem;
    margin-top: 20px;
}

#playerNameDisplay {
    color: #ffffff;
}

#btn-start {
    font-size: 2rem;
    font-weight: bold;
    background-color: #ac2424;
    margin-top: 20px;
    padding: 10px;
    color: #000000;
}

.player-name {
    margin-bottom: 10px;
    font-size: 1.42rem;
    font-weight: bold;
    color: #ffffff;
}

.display-area {
    display: none;

}

#nextButton {
    font-size: 2rem;
    font-weight: bold;
    font-weight: bold;
    width: 100px;
    background-color: #ac2424;
    position: absolute;
    color: #000000;
    bottom: 20px;
    right: 20px;
}

#playerNameDisplay {
    font-size: 1.5rem;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #ffffff;
}

.display-question {
    display: none;
}

.timer-container {
    display: none;
}

.timer {
    position: absolute;
    top: 20px;
    right: 15px;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: bold;
}

.score-area {
    display: none;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin-right: 20px;
    justify-content: space-between;
    color: #ffffff;
    position: absolute;
    top: 20px;
    right: 100px;
}

.scores {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
}

#score {
    color: #008000;
    font-weight: bold;
    margin-left: 5px;
}

#incorrect {
    color: #ff0000;
    margin-left: 5px;
    font-weight: bold;
}

#question {
    border: 2px solid #ac2424;
    margin-bottom: 10px;
    padding: 20px;
    font-size: 1.2rem;
    background-color: #d3d3d3;
    color: #000000;
    max-width: 400px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions {
    padding: 20px;
    margin-bottom: 15px;
    background-color: #d3d3d3;
}

#options {
    max-width: 400px;
    word-wrap: break-word;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option {
    border: 2px solid #ac2424;
    background-color: #865353;
    font-size: 1.6rem;
    margin-top: 5px;
    color: #000000;
    margin-bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

#submitButton {
    width: 120px;
    background-color: #ac2424;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    align-items: center;
    border: 2px solid #ac2424;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

/*mobile*/
@media (max-width: 767px) {
    h1 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 50px;
    }

    .paragraph {
        width: 100%;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .scores,
    .option,
    .player-name,
    #inputname,
    #submitButton,
    #nextButton {
        font-size: 1.2rem;
        font-weight: bold;
    }

    #btn-start {
        font-size: 2rem;
        margin-bottom: 60px;
        width: 100px;
        font-weight: bold;
        height: 50px;
        align-items: center;
        text-align: center;
        padding: 10px;
        /* margin-left: -60px; */
        /* margin-right: -50px; */
        /* font-size: 25px;
        font-weight: bold;
        margin-bottom: 80px;
        width: 120px;
        height: 40px;
       
        align-items: center; */
        /* margin-top: 80px; */

    }

    .player-name {
        margin-top: 15px;
    }

    #inputname {
        margin-top: 10px;
        width: 160px;
        font-weight: bold;
    }

    /* #btn-start, */
    #submitButton,
    #nextButton {
        /* width: 120px;
        height: 40px;
        padding: 10px;
        margin-top: 80px; */
        width: 100px;
        height: 50px;
        padding: 8px;
        margin-top: 60px;
    }

    #option {
        padding: 0px;
    }

    #playerNameDisplay {
        font-size: 20px;
        font-weight: bold;
        position: absolute;
        color: #ffffff;
        top: 15px;
        left: -50px;
    }

    .timer {
        top: 15px;
        right: -40px;
        font-size: 20px;
        color: #ffffff;
        font-weight: bold;
        position: absolute;
    }

    .score-area {
        font-size: 16px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-right: 10px;
        top: 10px;
        right: -10px;
        position: absolute;
    }

    .questions {
        max-width: 400px;
        font-size: 20px;
        padding: 8px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 200px;
        width: 100%;
        height: 100%;
        overflow: auto;
        align-self: center;
        background-color: #00000080;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 2px solid #ac2424;
        width: 80%;
        max-width: 600px;
    }
}

/* For iPads or tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        background-size: 100% 100%;
    }

    h1 {
        font-size: 28px;
        font-weight: bold;
    }

    .paragraph {
        font-size: 25px;
        width: 90%;
    }

    .scores,
    .option,
    .player-name,
    #inputname,
    #btn-start,
    #submitButton,
    #nextButton {
        font-size: 25px;

    }

    #submitButton,
    #nextButton {
        margin-top: 160px;
        width: 160px;

    }

    .player-name {
        margin-top: 40px;
    }

    #inputname {
        margin-top: 12px;

    }

    #btn-start {
        width: 150px;
        padding: 10px;
        margin-top: 80px;
    }

    #playerNameDisplay {
        font-size: 25px;
        font-weight: bold;
        position: absolute;
        top: 10px;
        left: -50px;
    }

    .score-area {
        font-size: 25px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-right: 10px;
        top: 10px;
        right: 10px;
        position: absolute;
    }

    #question {
        max-width: 400px;
        font-size: 25px;
        padding: 8px;
    }

    .option {
        max-width: 400px;
        font-size: 25px;
        padding: 8px;
    }

    .timer {
        top: 15px;
        right: -80px;
        font-size: 25px;
        color: #ffffff;
        font-weight: bold;
        position: absolute;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 500px;
        width: 100%;
        height: 100%;
        overflow: auto;
        align-self: center;

    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 2px solid #ac2424;
        width: 80%;
        max-width: 600px;
    }
}